/* main.handlebars */
.mdl-layout-title{
  font-weight: 500;
  font-size: 40px;
  align-content: space-between;
}

.logo {
  padding-bottom: 4px;
  height: 45px;
  width: 45px;
  margin: 0 10px;
}

.mdl-navigation__link {
  font-size: 20px;
}

footer, footer li {
  font-size: 16px;
}

.mdl-mini-footer .mdl-logo,
.mdl-mini-footer__link-list li {
  line-height: 15px;
}

.mdl-logo a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

/* index.handlebars */

.banner {
  text-align: center;
  margin: 40px;
}
.banner-text {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 5px;
}
.banner-text-small {
  font-size: 12px;
  margin-bottom: 20px;
}

.scrape-btn,
.clear-btn {
  font-size: 14px;
  margin: 0 10px;
}

.page-content {
  width: 63%;
  margin: 0 auto;
}

.mdl-card {
  margin: 25px;
  display: inline-block;
  vertical-align: middle;
}

.no-news {
  text-align: center;
  color: red;
}